<div class="leftside-navigation">
    <ul class="sidebar-menu" id="nav-accordion">
        <li>
            <a class="active" href="index.html">
                <i class="fa fa-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-book"></i>
                <span>Danh mục</span>
            </a>
            <ul class="sub">
                <li><a href="#"><i class="fa fa-folder-o"></i> Danh mục Sản phẩm</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-book"></i>
                <span>Quản lý</span>
            </a>
            <ul class="sub">
                <li><a href="#"><i class="fa fa-folder-o"></i> Quản lý Sản phẩm</a></li>
                <li><a href="@Url.Action("Index", "Customer")"><i class="fa fa-folder-o"></i> Quản lý Khách hàng</a></li>
                <li><a href="#"><i class="fa fa-folder-o"></i> Quản lý Người dùng</a></li>
                <li><a href="#"><i class="fa fa-folder-o"></i> Quản lý Đơn hàng</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
                <i class="fa fa-book"></i>
                <span>Báo cáo - Thống kê</span>
            </a>
            <ul class="sub">
                <li><a href="#"><i class="fa fa-folder-o"></i> Báo cáo Sản phẩm</a></li>
                <li><a href="#"><i class="fa fa-folder-o"></i> Thống kê người dùng</a></li>
            </ul>
        </li>
    </ul>
</div>